@font-face {
	font-family: "Lexend Peta";
	src: url("./assets/fonts/LexendPeta-VariableFont_wght.ttf")
}

body {
	margin: 0px;
	min-height: max(300px,100%);
	min-width: 300px;
	background-image: linear-gradient(#158dc1, #923be6);
	overflow: clip;
}

h1 {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	font-weight: 500;
	text-align: center;
}
h2 {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	font-weight: 500;
	text-align: center;
}	
h3 {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	font-weight: 500;
	text-align: center;
}
h4 {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	font-weight: 500;
	text-align: center;
}
h5 {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	font-weight: 500;
	text-align: center;
}
h6 {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	font-weight: 500;
	text-align: center;
}
.main-font {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	text-align: center;
}

.background-element {
	position: absolute;
}

#background {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: visible;
}

#cover-page {
	padding-top: 15vh;
	text-align: center;
	min-height: 75vh;
}

.center {
	margin: auto;
	text-align: center;
}

.big-button {
	white-space: normal;
	background-color: #ff65e0;
	border: none;
	line-height: 0;
	border-radius: 2em;
	padding: 1.4em 2em;
}
.big-button:hover {
	background-color: #eb4dcb;
	cursor: pointer;
}

#countdown {
	margin: 8px auto;
	font-size: min(100vw,2em);
	opacity: 0;
}
#countdown span {
  display: inline-block;
  width: 0.7em;
  text-align: center;
}
