@font-face {
	font-family: "Lexend Peta";
	src: url("./assets/fonts/LexendPeta-VariableFont_wght.ttf")
}

h3, p {
	color: #ffffff;
	font-family: "Lexend Peta";
	font-style: normal;
	text-align: center;
}

.header {
	display: flex;
	margin: auto;
	width: 65%;
	cursor: pointer;
}

.dropdown {
	margin: auto;
	width: 100%;
}
.header h3 {
	margin: 0px;
	width: auto;
	padding: 0.5em 0px;
	padding-right: 1em;
	text-align: left;
	flex: 1 1 auto;
}
.header svg {
	vertical-align: bottom;
	transform: rotate(0deg);
	flex: 0 0 auto;
	margin: auto;
}
.dropdown-hidden {
	margin: inherit;
	overflow: clip;
}
.dropdown-hidden hr {
	height: 2px;
	background: white;
	margin: 0px;
	opacity: 0;
}
.dropdown-hidden p {
	margin: inherit;
	width: 80%;
	font-size: 0.75em;
	text-align: left;
	height: 0px;
	margin: 0em 1em;
	overflow: clip;
}