dropdown-box h3 {
	color: #ffffff;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}
dropdown-box p {
	color: #ffffff;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}

dropdown-box .header {
	display: flex;
	margin: auto;
	width: 75%;
	cursor: pointer;
}

dropdown-box .dropdown {
	margin: auto;
	width: 100%;
}
dropdown-box .header h3 {
	margin: 0px;
	width: auto;
	padding: 0.5em 0px;
	padding-right: 1em;
	text-align: left;
	flex: 1 1 auto;
	font-weight: 700;
	font-size: 24px;
}
dropdown-box .header svg {
	vertical-align: bottom;
	transform: rotate(0deg);
	flex: 0 0 auto;
	margin: auto;
}
dropdown-box .dropdown-hidden {
	position: relative;
	margin: inherit;
	overflow: clip;
}
dropdown-box .dropdown-hidden hr {
	border: solid 1px white;
	height: 2px;
	background: white;
	margin: 0px;
	opacity: 0;
}
dropdown-box .dropdown-hidden p {
	position: relative;
	margin: inherit;
	width: 80%;
	font-size: 0.75em;
	text-align: left;
	height: 0px;
	margin: 0px 1em;
	overflow: clip;
	opacity: 0;
}
