{% extends "base.html" %}

{% block title %}Sponsors{% endblock title %}

{% block content %}
    <!-- SPONSORS FAQ -->
    <div id="sponsors-faq-page">
      <h1 style="margin-bottom:1em">Sponsors FAQ</h1>
      <dropdown-box
        header="Where can I apply to be a mentor or judge?"
        text="Email <a href='mailto:hardhack@eng.ucsd.edu'>hardhack@eng.ucsd.edu</a> if you are interested in volunteering as a mentor and/or presiding as a judge."
      ></dropdown-box>
    </div>
{% endblock content %}